@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --capsule_orange: #824609;

  --capsule_amber: #f8eddb;
  --capsule_amber_100: #f9e6c8;
  --capsule_amber_200: #824609;

  --capsule_green: #3b5c51;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-capsule_orange: var(--capsule_orange);
  --color-capsule_green: var(--capsule_green);
  --color-capsule_amber: var(--capsule_amber);
  --color-capsule_amber_100: var(--capsule_amber_100);
  --color-capsule_amber_200: var(--capsule_amber_200);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
